name: Auto Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Execute Deployment Script
        run: |
          cd /home/ubuntu/dev/send-to-kindle
          ./deploy.sh
